@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,700;1,400&display=swap');

* {
    box-sizing: border-box;
}

html {
    scroll-behavior: smooth;
}

a {
    text-decoration: none;
    font-family: "Poppins", sans-serif;
    color: white;
}

.mywork {
    color: gold;
}

.fix {
    text-decoration: none;
}

.nav {
    position: sticky;
    top: 0;
}

nav {
    background-color: #B09A51;
    padding: 5px;
}

.nav-dropdown ul {
  font-size: 0;
  list-style-type: none;
  padding: 0;
  margin-left: 20px;
}

.nav-dropdown ul li {
  font-family: "Poppins", sans-serif;
  font-size: 1rem;
  font-weight: 400;
  color: white;
  display: inline-block;
  padding: 15px;
  position: relative;
}

.nav-dropdown ul li ul {
    text-decoration: none;
  display: none;
}

.nav-dropdown ul li:hover {
  cursor: pointer;
  font-weight: bold;
}

.nav-dropdown ul li:hover ul {
  display: block;
  margin-top: 15px;
  width: 200px;
  left: 0;
  position: absolute;
}

.nav-dropdown ul li:hover ul li {
  display: block;
  background-color: black;
}


.nav-dropdown ul li:hover ul li:hover {
  color: white;
}

body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}

.profile header {
    text-align: center;
}

.price-list {
    font-family: "Poppins", sans-serif;
}

h2, h3 {
    color: #124653;
}

main {
    padding: 20px;
    overflow: auto;
}

.question {
    color: #B09A51;
}

footer {
    padding: 20px;
    color: white;
    background-color: #212121;
    text-align: center;
}

.featured-image {
    width: 100%;
    max-height: 300px;
    object-fit: cover;
    object-position: center;
}

.profile img {
    width: 200px;
}

.icon {
    max-height: 22px;
    max-width: 22px;
    padding: 0;
    margin: 0;
}

.center {
    align-content: center;
    text-align: center;
    object-position: center;
    margin-left: 7%;
    margin-right: 7%;
    padding-left: 5%;
    padding-right: 5%;
}

button {
    background-color: #B09A51;
    font-family: "Poppins", sans-serif;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

button:hover {
    font-weight: bold;
}

.card {
    box-shadow: 0 4px 8px 0 rgb(0, 0, 0, 0.2);
    border-radius: 5px;
    padding: 20px;
    margin-top: 20px;
}

.jumbotron {
    font-size: 20px;
    padding: 60px;
    background-color: #212121;
    text-align: center;
    color: white;
}

#content {
    float: left;
    width: 75%;
}

aside {
    float: right;
    width: 25%;
    padding-left: 20px;
}

@media screen and (max-width: 1000px) {
    #content, aside {
        width: 100%;
        padding: 0;
    }
}

header {
    display: inline;
}